# stack

In [1]:
a=[1, 2, 3, 4, 5] # 컨테이너: 데이터 타입 상관없이 저장 자료구조
a.append(10) # 맨 끝에 추가
a

[1, 2, 3, 4, 5, 10]

In [2]:
a.append(20)
a

[1, 2, 3, 4, 5, 10, 20]

In [3]:
a.pop() # 가장 최근에 넣은 값 방출

20

In [4]:
a.pop()

10

In [5]:
# 7-1 stack
word=input("Input a word:") 
word_list=list(word) # 리스트 형태로 변환
print(word_list)

result=[] # 빈 리스트
for _ in range(len(word_list)):
    result.append(word_list.pop()) # 역순
    
print(result)
print(word[::-1]) # 역순 출력

Input a word:PYTHON
['P', 'Y', 'T', 'H', 'O', 'N']
['N', 'O', 'H', 'T', 'Y', 'P']
NOHTYP

# Queue

In [6]:
a=[1, 2, 3, 4, 5]
a.append(10)
a.append(20)
a

[1, 2, 3, 4, 5, 10, 20]

In [7]:
a.pop(0) # 선입선출

1

In [8]:
a.pop(0)

2

# tuple
* 리스트와 유사하지만 변경 불가능한 자료 구조

* ()를 사용하여 정의

In [9]:
t=(1, 2, 3)
print(t+t, t*2) # 자기자신 결합, 반복
len(t) # 원소 개수

(1, 2, 3, 1, 2, 3) (1, 2, 3, 1, 2, 3)

3

In [10]:
t[1] # 인덱스 가능

2

In [11]:
t[1]=5 # 값 변경 불가능

TypeError: 'tuple' object does not support item assignment

# tuple indexing

In [12]:
print(t[0], t[-2])

1 2

# nested tuple indexing

In [13]:
t=(1, 2, 3, ('One', 'Two', 'Three')) # nested: 튜플 안에 다른 튜플
print(t)
print(t[3])
print(t[3][1]) # 중첩 인덱싱

(1, 2, 3, ('One', 'Two', 'Three'))
('One', 'Two', 'Three')
Two

# set
* 데이터 중복을 허용하지 않는 자료 구조
* 순서가 없는 데이터 집합
* 인덱싱 불가

In [14]:
s1=set([1, 2, 3, 1, 2, 3]) # 리스트를 세트 형태로 변환
s2={4, 5, 6} # 중괄호로 선언
print(s1) # 중복 허용 X
print(s2)

{1, 2, 3}
{4, 5, 6}

In [15]:
s1.add(1) # 원래 있는 값이므로 무시
s1

{1, 2, 3}

In [16]:
s1.remove(1) # 특정 요소 삭제
s1

{2, 3}

In [17]:
s1.update([1, 4, 5, 6, 7]) # 리스트를 세트에 추가

In [18]:
s1.discard(3) # 특정 요소 삭제
s1

{1, 2, 4, 5, 6, 7}

In [19]:
s1.clear() # 요소 모두 삭제
s1

set()

# set operators, methods
* 교집합: &, intersection()
* 합집합: |, union()
* 차집합: -, difference()
* 대칭차: ^, symmetric_difference()

In [20]:
s1={10, 20, 20, 30} # 중복 X 
s2={30, 30, 40, 50}
print(s1)
print(s2)

{10, 20, 30}
{40, 50, 30}

In [21]:
print(s1 & s2) # 공통
print(s1 | s2) # 모두 (중복 제거)
print(s1 - s2) # s1에서 공통 제거
print(s1 ^ s2) # 공통 요소 제외 나머지 (순서 상관 X)

{30}
{50, 20, 40, 10, 30}
{10, 20}
{40, 10, 50, 20}

In [22]:
print(s1.intersection(s2))
print(s1.union(s2))
print(s1.difference(s2))
print(s1.symmetric_difference(s2))

{30}
{50, 20, 40, 10, 30}
{10, 20}
{40, 10, 50, 20}

# dictionary
* key, value의 쌍으로 구성된 자료 구조
* 순서가 없는 데이터
* key를 이용하여 value 검색
* 동일한 key가 있을 경우 덮어씀

In [23]:
student_info={20140012:'Sungchul', 20140059:'Jiyong', 20140058:'JaeHong'}
print(student_info)

{20140012: 'Sungchul', 20140059: 'Jiyong', 20140058: 'JaeHong'}

In [24]:
student_info[20140012] # key로 값 조회

'Sungchul'

In [25]:
student_info[20140012]='Janhyeok' # 같은 키면 새로운 값으로 업데이트
student_info[20140039]='Wonchul' # 새로운 값 추가
student_info

{20140012: 'Janhyeok',
 20140059: 'Jiyong',
 20140058: 'JaeHong',
 20140039: 'Wonchul'}

# dictionary methods

In [26]:
country_code={'America':1, 'Korea':82, 'China':86, 'Japan':81}
country_code

{'America': 1, 'Korea': 82, 'China': 86, 'Japan': 81}

In [27]:
print(country_code.keys()) # 키만 조회
print(country_code.values()) # 값만 조회
print(country_code.items()) # 전체 딕셔너리 항목 (키, 값 튜플 형태)

dict_keys(['America', 'Korea', 'China', 'Japan'])
dict_values([1, 82, 86, 81])
dict_items([('America', 1), ('Korea', 82), ('China', 86), ('Japan', 81)])

In [28]:
'Korea' in country_code.keys() # 존재 여부 확인

True

In [29]:
'German' in country_code.keys()

False

In [30]:
82 in country_code.values()

True

In [31]:
49 in country_code.values()

False

## collections
컨테이너 데이터형

In [32]:
from collections import deque, OrderedDict, defaultdict, Counter, namedtuple # 추가 자료구조

## deque
양쪽 끝에서 빠르게 추가와 삭제를 하 수 있는 리스트형 컨테이너

In [33]:
deque_list=deque() # deque 자료구조로 초기화

for i in range(5):
    deque_list.append(i) # 데이터 구조에 append
    
print(deque_list)

deque([0, 1, 2, 3, 4])

In [34]:
deque_list.pop() # 가장 마지막에 들어간 것부터 방출

4

In [35]:
deque_list.pop()

3

In [36]:
deque_list.pop()

2

In [37]:
deque_list

deque([0, 1])

In [38]:
deque_list=deque() # 링크드 리스트 형태 (다음 요소 주소 서로 연결)

for i in range(5):
    deque_list.appendleft(i) # 먼저 들어간게 먼저 출력되도록 (왼쪽에 추가)
    
print(deque_list)

deque([4, 3, 2, 1, 0])

In [39]:
deque_list.rotate(2) # 값 위치 변경 (2칸씩)
deque_list

deque([1, 0, 4, 3, 2])

In [40]:
deque_list.rotate(3)
deque_list

deque([4, 3, 2, 1, 0])

In [41]:
deque(reversed(deque_list)) # 요소 위치 반전

deque([0, 1, 2, 3, 4])

In [42]:
deque_list.extend([5, 6, 7]) # 새 요소 추가
deque_list

deque([4, 3, 2, 1, 0, 5, 6, 7])

In [43]:
deque_list.extendleft([8, 9]) # 왼쪽부터 확장 (8 - 9 순서로)
deque_list

deque([9, 8, 4, 3, 2, 1, 0, 5, 6, 7])

## OrderedDict
항목이 추가된 순서를 기억하는 딕셔너리 서브 클래스

In [44]:
d={} # 일반 딕셔너리로 선언
d['x']=100
d['l']=500
d['y']=200
d['z']=300

for k, v in d.items(): # 딕셔너리 아이템 차례로 읽음 (3.7 이후 - 생성 순서로 형성)
    print(k, v)

x 100
l 500
y 200
z 300

In [45]:
d=OrderedDict()
d['x']=100
d['y']=200
d['z']=300
d['l']=400

for k, v in d.items(): # 생성 순서로 형성
    print(k, v)

x 100
y 200
z 300
l 400

In [46]:
def sort_by_key(t):
    return t[0] # 인덱스를 기준으로 정렬

d=dict()
d['x']=100
d['y']=200
d['z']=300
d['l']=400

# OrderedDict 객체 모든 아이템들을 sort_by_key가 반환해 준 대로 출력
for k, v in OrderedDict(sorted(d.items(), key=sort_by_key)).items(): # 모든 아이템 출력
    print(k, v)

l 400
x 100
y 200
z 300

In [47]:
sorted(d.items(), key=sort_by_key)

[('l', 400), ('x', 100), ('y', 200), ('z', 300)]

In [48]:
def sort_by_key(t):
    return t[1] # 값을 기준으로 정렬

d=dict()
d['x']=100
d['y']=200
d['z']=300
d['l']=400

for k, v in OrderedDict(sorted(d.items(), key=sort_by_key)).items():
    print(k, v)

x 100
y 200
z 300
l 400

## defaultdict
누락된 값을 제공하기 위해 팩토리 함수를 호출하는 딕셔너리 서브 클래스

In [49]:
d=dict()
print(d["first"]) # 키에 값이 없으므로 오류

KeyError: 'first'

In [50]:
d=defaultdict(lambda:0) # lambda: 이름 없이 사용하는 한 줄 짜리 함수 (반환 값 0) 
print(d["first"])

0

In [51]:
# 7-7: list를 default_factory로 사용. 키-값 시퀀스를 리스트의 딕셔너리로 그룹화
s=[('yellow', 1), ('blue', 2), ('yellow', 3), ('blue', 4), ('red', 1)]
d=defaultdict(list) # 초기화할 객체의 타입을 리스트로 설정

for k, v in s:
    d[k].append(v) # 값 추가
    
print(d.items()) # 완성 항목 조회

dict_items([('yellow', [1, 3]), ('blue', [2, 4]), ('red', [1])])

In [52]:
# set를 default_factory로 사용. 집합의 딕셔너리 생성
s=[('yellow', 1), ('blue', 2), ('yellow', 3), ('blue', 4), ('red', 1)]
d=defaultdict(set) # 초기화할 객체의 타입을 리스트로 설정

for k, v in s:
    d[k].add(v) # set: add, list: append
    
print(d.items())

dict_items([('yellow', {1, 3}), ('blue', {2, 4}), ('red', {1})])

## Counter
시퀀스 자료형의 데이터 값의 개수를 세는 딕셔너리 서브 클래스

In [53]:
text=list('gallahad') # 문자열을 리스트 형태로 반환
text

['g', 'a', 'l', 'l', 'a', 'h', 'a', 'd']

In [54]:
c=Counter(text) # 각 데이터 몇 번 등장하는지 딕셔너리 형태로 생성
c

Counter({'g': 1, 'a': 3, 'l': 2, 'h': 1, 'd': 1})

In [55]:
c['a']

3

## Counter methods

In [56]:
# elements(): 각 요소의 개수만큼 리스트형의 결과 출력. 1보다 작으면 무시
c=Counter(a=4, b=2, c=0, d=-2)
print(list(c.elements())) # 리스트 형태로 출력

['a', 'a', 'a', 'a', 'b', 'b']

In [57]:
# most_common(n): 빈도수가 가장 높은 n개의 요소 반환.
### n을 생략하면 모든 요소. 개수가 같은 요소는 처음 발견된 것 순서로.
Counter('abracadabra').most_common(3)

[('a', 5), ('b', 2), ('r', 2)]

In [58]:
Counter('abracadabra').most_common() # 모든 요소

[('a', 5), ('b', 2), ('r', 2), ('c', 1), ('d', 1)]

In [59]:
# subtract: 요소의 개수 빼기
c=Counter(a=4, b=2, c=0, d=-2)
d=Counter(a=1, b=2, c=3, d=4)
c.subtract(d)
c

Counter({'a': 3, 'b': 0, 'c': -3, 'd': -6})

In [60]:
# +, -, &, |: 0 이하는 결과에서 제외
c=Counter(a=4, b=2, c=0, d=-2)
d=Counter(a=1, b=2, c=3, d=4)

print(c+d)
print(c-d)
print(c&d)
print(c|d)

Counter({'a': 5, 'b': 4, 'c': 3, 'd': 2})
Counter({'a': 3})
Counter({'b': 2, 'a': 1})
Counter({'a': 4, 'd': 4, 'c': 3, 'b': 2})

## namedtuple
이름 붙은 필드를 갖는 튜플 서브 클래스를 만드는 팩토리 함수

In [61]:
Point=namedtuple('Point', ['x', 'y']) # namedtuple 타입 (이름: Point, 필드: x, y)
p=Point(11, y=22) # 튜플 생성
p

Point(x=11, y=22)

In [62]:
p[0]+p[1]

33

In [63]:
x, y=p # unpack

In [64]:
p.x+p.y # 각 요소에 접근

33

## lab:textmining

In [65]:
text="""A press release is the quickest and easiest way to get free publicity.
If well written, a press release can result in multiple published articles about 
your firm and its products. And that can mean new prospects contaction you asking you 
to sell to them. ...""".lower().split() # 소문자로 변경, 띄어쓰기 단위로 구분

word_count=defaultdict(lambda:0) # 단어, 등장 횟수 - key, value 형태로

for word in text:
    word_count[word]+=1 # 같은 word - 1 증가
    
# 튜플을 받아서 t[1](값)별로 정렬, reverse=True (내림차순)
for i, v in OrderedDict(sorted(word_count.items(), key=lambda t: t[1], reverse=True)).items():
    print(i, v)

and 3
to 3
a 2
press 2
release 2
can 2
you 2
is 1
the 1
quickest 1
easiest 1
way 1
get 1
free 1
publicity. 1
if 1
well 1
written, 1
result 1
in 1
multiple 1
published 1
articles 1
about 1
your 1
firm 1
its 1
products. 1
that 1
mean 1
new 1
prospects 1
contaction 1
asking 1
sell 1
them. 1
... 1

In [66]:
c=Counter(text)
c

Counter({'a': 2,
         'press': 2,
         'release': 2,
         'is': 1,
         'the': 1,
         'quickest': 1,
         'and': 3,
         'easiest': 1,
         'way': 1,
         'to': 3,
         'get': 1,
         'free': 1,
         'publicity.': 1,
         'if': 1,
         'well': 1,
         'written,': 1,
         'can': 2,
         'result': 1,
         'in': 1,
         'multiple': 1,
         'published': 1,
         'articles': 1,
         'about': 1,
         'your': 1,
         'firm': 1,
         'its': 1,
         'products.': 1,
         'that': 1,
         'mean': 1,
         'new': 1,
         'prospects': 1,
         'contaction': 1,
         'you': 2,
         'asking': 1,
         'sell': 1,
         'them.': 1,
         '...': 1})

In [67]:
c['and'] # and 등장 횟수

3