# 함수 기초

In [1]:
# 5-1. rectangle_area
def calculate_rectangle_area(x, y):
    return x*y

rectangle_x=10
rectangle_y=20
print("사각형 x의 길이:", rectangle_x)
print("사각형 y의 길이:", rectangle_y)

#넓이를 구하는 함수 호출
print("사각형의 넓이:", calculate_rectangle_area(rectangle_x, rectangle_y))

사각형 x의 길이: 10
사각형 y의 길이: 20
사각형의 넓이: 200

In [2]:
# 5-2. function
def f(x):
    return 2*x+7
def g(x):
    return x**2

x=2
print(f(x)+g(x)+f(g(x))+g(f(x)))

151

In [3]:
# 5-3 parameter
def f(x):
    return 2*x+7

print(f(2))

11

In [4]:
# 5-4 function_type
def a_rectangle_area():     # 매개변수 X, 반환값 X
    print(5*7)
def b_rectangle_area(x, y): # 매개변수 O, 반환값 X
    print(x*y)
def c_rectangle_area():     # 매개변수 X, 반환값 O
    return (5*7)
def d_rectangle_area(x, y): # 매개변수 O, 반환값 O
    return (x*y)

a_rectangle_area()
b_rectangle_area(5, 7)
print(c_rectangle_area())
print(d_rectangle_area(5, 7))

35
35
35
35

### [Lab] 계산기 함수
* 연산자, 두 수를 받아서 덧셈, 뺄셈, 곱셈, 나눗셈을 수행하는 함수

In [5]:
def calc(op, n1, n2):
    result=0
    
    if op=='+':
        result=n1+n2
    elif op=='-':
        result=n1-n2
    elif op=='*':
        result=n1*n2
    elif op=='/':
        result=n1/n2
        
    return result

print(calc('+', 8, 5))

13

In [6]:
print(calc('-', 8, 5))
print(calc('*', 8, 5))
print(calc('/', 8, 5))

3
40
1.6

# 함수 심화

In [7]:
# 5-5 call1
def f(x):
    y=x
    x=5
    return y*y

x=3
print(f(x))
print(x)

9
3

In [8]:
# 5-6 call2
def spam(eggs):
    eggs.append(1)
    eggs=[2, 3]
    
ham=[0]
spam(ham)
print(ham)

[0, 1]

In [9]:
# 5-7 scoping_rule
def test(t):
    print(x)
    t=20
    print("In Function:", t)
    
x=10
test(x)
print("In Main:", x)
print("In Main:", t)

10
In Function: 20
In Main: 10

NameError: name 't' is not defined

In [10]:
# 5-8 local variable
def f():
    s="I love London!"
    print(s)
    
s="I love Paris!"
f()
print(s)

I love London!
I love Paris!

In [11]:
# 5-9 global_variable
def f():
    global s
    s="I love London!"
    print(s)
    
s="I love Paris!"
f()
print(s)

I love London!
I love London!

In [12]:
# 5-10 scoping_rule_final
def calculate(x, y):
    total=x+y # 새로운 값이 할당되어 함수 안 total은 지역 변수가 됨
    print("In Function")
    print("a:", str(a), "b:", str(b), "a+b:", str(a+b), "total:", str(total))
    return total

a=5     # a와 b는 전역 변수
b=7
total=0 # 전역변수 total
print("In Program - 1")
print("a:", str(a), "b:", str(b), "a+b:", str(a+b))

sum=calculate(a, b)
print("After Calculation")
print("Total:", str(total), " Sum:", str(sum)) # 지역 변수는 전역 변수에 영향을 주지 않음

In Program - 1
a: 5 b: 7 a+b: 12
In Function
a: 5 b: 7 a+b: 12 total: 12
After Calculation
Total: 0  Sum: 12

In [13]:
# 5-11 factorial
def factorial(n):
    if n==1:
        return 1
    else:
        return n*factorial(n-1)
    
print(factorial(int(input("Input Number for Factorial Calculation: "))))

Input Number for Factorial Calculation: 5
120

# 함수의 인수

In [14]:
# 5-12 keyword
def print_something(my_name, your_name):
    print("Hello {0}, My name is {1}".format(your_name, my_name))
    
print_something("Sun", "Andy")
print_something(your_name="TEAMLAB", my_name="Sungchul")

Hello Andy, My name is Sun
Hello TEAMLAB, My name is Sungchul

In [15]:
# 5-13 default
def print_something_2(my_name, your_name="TEAMLAB"):
    print("Hello {0}, My name is {1}".format(your_name, my_name))
    
print_something_2("Sungchul", "Sun")
print_something_2("Sungchul")

Hello Sun, My name is Sungchul
Hello TEAMLAB, My name is Sungchul

In [16]:
# 5-14 asterisk1
#del sum # 다른 곳에서 같은 이름을 재사용 (del로 객체 삭제)
def asterisk_test(a, b, *args):
    return a+b+sum(args)

print(asterisk_test(1, 2, 3, 4, 5))

15

In [17]:
# 5-15 asterisk2
def asterisk_test(a, b, *args):
    print(args, type(args))

asterisk_test(1, 2, 3, 4, 5)

(3, 4, 5) <class 'tuple'>

In [18]:
# 5-16 asterisk3
def asterisk_test_2(*args):
    x, y, *z=args
    return x, y, z

print(asterisk_test_2(3, 4, 5))

(3, 4, [5])

In [19]:
# 5-17 asterisk4
print(asterisk_test_2(3, 4, 5, 10, 20))

(3, 4, [5, 10, 20])

In [20]:
# 5-18 kwargs
def kwargs_test(**kwargs):
    print(kwargs, type(kwargs))
    print("First value is {first}".format(**kwargs))
    print("First value is {second}".format(**kwargs))
    print("First value is {third}".format(**kwargs))
    
kwargs_test(first=3, second=4, third=5)

{'first': 3, 'second': 4, 'third': 5} <class 'dict'>
First value is 3
First value is 4
First value is 5

## 반환값이 여러개 있는 함수
* 여러 반환값을 사용할 경우 튜플 형탤 반환

In [21]:
def puls_and_minus(n1, n2):
        return n1+n2, n1-n2 # 2개 반환 (튜플 형태)
    
result=puls_and_minus(8, 5)
print(result)

(13, 3)

In [22]:
plus, minus=puls_and_minus(8, 5)
print("plus: {0}, minus: {1}".format(plus, minus))

plus: 13, minus: 3

## [Lab] 가변 인수의 평균값 계산
* 가변 매개변수로 들어오는 모든 수의 평균값 계산

In [23]:
def avg(*args):
    sum=0
    for i in args:
        sum+=i
    return (sum/len(args))

print(avg(1, 2, 3, 4, 5))

3.0